/* ========== About Us Section ========== */
.about {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .about {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      position: relative;
    }

    &__img {
      width: 370px;
    }

    &__text {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
      @include font(700, 14px, 16px, $text-dark-theme-color);
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
/* ========== End About Us Section ========== */