.benefits {
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      content: "";
      display: block;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: #F5F4FA;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
    }

    &:nth-child(1) {
      &::before {
        background-image: url(../images/main/index/icon-satellite-dish.svg);
      }
    }
    
    &:nth-child(2) {
      &::before {
        background-image: url(../images/main/index/icon-clock.svg);
      }
    }
    
    &:nth-child(3) {
      &::before {
        background-image: url(../images/main/index/icon-laptop.svg);
      }
    }
    
    &:nth-child(4) {
      &::before {
        background-image: url(../images/main/index/icon-astronaut.svg);
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
    @include font(700, 14px, 16px, $title-white-theme-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    @include font(400, 14px, 24px, $text-white-theme-color);
    letter-spacing: 0.03em;
  }
}