.header {
  padding: 10px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  &__icon-cross {
    display: none;
  }

  &__menu-button.is-open &__icon-cross {
    display: block;
  }

  &__menu-button.is-open &__icon-menu {
    display: none;
  }

  &__menu-container {
    position: absolute;
    display: none;

    &.is-open {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 59px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
  }
}