.header {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__logo {
    margin-right: auto;
  }

  &__menu-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  &__icon-cross {
    display: none;

    .header__menu-button:hover &,
    .header__menu-button:focus & {
      fill: $accent-color;
    }
  }

  &__icon-menu {
    .header__menu-button:hover &,
    .header__menu-button:focus & {
      fill: $accent-color;
    }
  }

  &__menu-button.is-open &__icon-cross {
    display: block;
  }

  &__menu-button.is-open &__icon-menu {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
  }

  @media screen and (max-width: 767px) {
    &__menu-container {
      display: none;
  
      &.is-open {
        position: absolute;
        bottom: 0;
        display: block;
        padding: 140px 60px;
        background: #fff;
        transform: translateY(100%);
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__menu-button {
      display: none;
    }

    &__container {
      height: 80px;
    }

    &__menu-container {
      display: flex;
      align-items: center;
    }
  }
}

.navigation {
  margin-right: 84px;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 16px, $title-white-theme-color);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__link--active {
    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.header-address {
  font-style: normal;

  &__link {
    display: flex;
    align-items: center;
    @include font(500, 12px, 14px, $text-white-theme-color);
    letter-spacing: 0.02em;
    fill: $text-white-theme-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__icon {
    padding: 0;
    margin-right: 10px;
    border: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      margin-right: 30px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.143;
    }
  }
}