.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url("../images/main/index/hero-480-400.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  &__container {
    padding-right: 60px;
    padding-left: 60px;
  }

  &__title {
    margin-bottom: 30px;
    @include font(900, 26px, 42px, $title-dark-theme-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}