.team {
  background-color: #F5F4FA;

  &__list {
    text-align: center;
  }

  &__item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 122px;
    padding-bottom: 24px;
    padding-left: 122px;
  }

  &__name {
    margin-bottom: 10px;
    @include font(500, 16px, 19px, $title-white-theme-color);
    letter-spacing: 0.03em;
  }

  &__position {
    margin-bottom: 16px;
    @include font(400, 16px, 19px, $text-white-theme-color);
    letter-spacing: 0.03em;
  }
}