/* ========== Our Team Section ========== */
.team {
  background-color: #F5F4FA;

  &__item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__name {
    margin-bottom: 10px;
    @include font(500, 16px, 19px, $title-white-theme-color);
    letter-spacing: 0.03em;
  }

  &__position {
    margin-bottom: 16px;
    @include font(400, 16px, 19px, $text-white-theme-color);
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    &__item {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__list {
      flex-wrap: nowrap;
    }
  }
}
/* ========== End Our Team Section ========== */