.customers {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accent-color;
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .customers {
    &__item {
      width: calc((100% - 6 * 15px) / 3);
    }
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    &__list {
      flex-wrap: nowrap;
    }
  }
}