/* ========== Logo ========== */
.logo {
  @include font(700, 24px, 28px, $accent-color);
  font-family: $secondary-font;
  letter-spacing: 0.03em;

  &--dark {
    color: #000000;
  }

  &--white {
    color: #ffffff;
  }
}

@media screen and (min-width: 1201px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}
/* ========== End Logo ========== */