/* ========== Social Links ========== */
.social-icon {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accent-color;
    fill: $title-dark-theme-color;
    }

    &--dark {
      background-color: rgba(255, 255, 255, 0.1);
      fill: $title-dark-theme-color;
    }
  }
}
/* ========== End Social Links ========== */