/* ========== Title ========== */
.title {
  text-align: center;
  margin-bottom: 30px;
  @include font(700, 28px, 33px, $title-white-theme-color);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1201px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}
/* ========== End Title ========== */